.contact-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: -141px;
  margin-bottom: -144px;
  .contact-gif {
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    #gif1 {
      width: 100%;
    }
  }
  .container {
    .contact-wrapper {
      width: 35%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 26px;
      margin: 200px auto 200px auto;
      padding: 30px;
      background: #17212915;
      transform: scale(1);
      border-radius: 16px;
      backdrop-filter: blur(10px);
      .contact-info {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 6px;
        display: flex;

        .c-info-h3 {
          color: #a6a6a6;
          font-size: 16px;
          font-family: Inter;
          font-weight: 400;
          word-wrap: break-word;
        }

        .c-info-p {
          width: 392px;
          text-align: center;
          color: white;
          font-size: 18px;
          font-family: Inter;
          font-weight: 600;
          word-wrap: break-word;
        }
      }
      .contact-inputs {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 17px;
        display: flex;

        .input1 {
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 3px;
          display: flex;
          .label {
            font-size: 17px;
            font-family: sans-serif;
            color: #a6a6a6;
          }
          .input {
            text-align: start;
            // padding-left: 4px;
            color: #a6a6a6;
            background: rgba(22, 32, 40, 0.35);
            font-size: 18px;
            width: 350px;
            padding: 15px 20px;
            border: 1.5px #a6a6a6 solid;
            border-radius: 10px;
          }

          .Frame1000001952 {
            width: 398px;
            padding: 12px;
            border-radius: 8px;
            border: 1px rgba(172, 172, 172, 0.5) solid;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            display: inline-flex;

            .Mail {
              width: 20px;
              height: 20px;
              position: relative;

              .Vector {
                width: 16.67px;
                height: 13.33px;
                left: 1.67px;
                top: 3.33px;
                position: absolute;
                border: 2px #a6a6a6 solid;
              }

              .Vector {
                width: 16.67px;
                height: 5.83px;
                left: 1.67px;
                top: 5px;
                position: absolute;
                border: 2px #a6a6a6 solid;
              }
            }

            .Email {
              text-align: center;
              color: #a6a6a6;
              font-size: 16px;
              font-family: Inter;
              font-weight: 500;
              word-wrap: break-word;
            }
          }
        }
      }
    }
  }
}
