footer {
  height: 240px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  background: #030d15;
  .container {
    .footer-wrapper {
      padding: 20px 0px;
      justify-content: center;
      align-items: center;
      gap: 90px;
      display: flex;
      background: #091722;
      border-radius: 23px;
      .Frame53 {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24px;
        display: inline-flex;

        .Logo {
          color: white;
          font-size: 24px;
          font-family: Inter;
          font-weight: 700;
          line-height: 22px;
          word-wrap: break-word;
        }

        .NullaLoremMollitCupidatatIrureLaborumMagnaNullaDuisUllamcoCillumDolorVoluptateExercitationIncididuntAliquipDeseruntReprehenderitElitLaborum {
          width: 369px;
          color: #a6a6a6;
          font-size: 16px;
          font-family: Inter;
          font-weight: 400;
          line-height: 22px;
          word-wrap: break-word;
        }
      }

      .Frame54 {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
        display: inline-flex;

        .Title {
          width: 34px;
          height: 22px;
          justify-content: center;
          align-items: center;
          display: inline-flex;
          color: #a6a6a6;
          font-size: 16px;
          font-family: Inter;
          font-weight: 400;
          line-height: 22px;
          word-wrap: break-word;
        }

        .ActionName {
          width: 95px;
          height: 22px;
          justify-content: center;
          align-items: center;
          display: inline-flex;
          color: white;
          font-size: 16px;
          font-family: Inter;
          font-weight: 400;
          line-height: 22px;
          word-wrap: break-word;
        }
      }

      .Frame55 {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
        display: inline-flex;

        .Title {
          width: 34px;
          height: 22px;
          justify-content: center;
          align-items: center;
          display: inline-flex;
          color: #a6a6a6;
          font-size: 16px;
          font-family: Inter;
          font-weight: 400;
          line-height: 22px;
          word-wrap: break-word;
        }

        .ActionName {
          width: 95px;
          height: 22px;
          justify-content: center;
          align-items: center;
          display: inline-flex;
          color: white;
          font-size: 16px;
          font-family: Inter;
          font-weight: 400;
          line-height: 22px;
          word-wrap: break-word;
        }
      }

      .Frame56 {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
        display: inline-flex;

        .Title {
          width: 34px;
          height: 22px;
          justify-content: center;
          align-items: center;
          display: inline-flex;
          color: #a6a6a6;
          font-size: 16px;
          font-family: Inter;
          font-weight: 400;
          line-height: 22px;
          word-wrap: break-word;
        }

        .ActionName {
          width: 95px;
          height: 22px;
          justify-content: center;
          align-items: center;
          display: inline-flex;
          color: white;
          font-size: 16px;
          font-family: Inter;
          font-weight: 400;
          line-height: 22px;
          word-wrap: break-word;
        }
      }
    }
  }
}
